Repository EzequielDM/devconnector, changes with the labels that .github/labeler.yml gives for each.
All labels: api, front-end, component, actions, reducers, style

Profile modifications and prettier reformat
  client/public/index.html
  client/src/App.css
  client/src/App.tsx
  client/src/actions/post.ts
  client/src/actions/profile.ts
  client/src/actions/types.ts
  client/src/components/dashboard/Dashboard.tsx
  client/src/components/layout/Navbar.tsx
  client/src/components/posts/PostItem.tsx
  client/src/components/posts/Posts.tsx
  client/src/components/profile-forms/Education.tsx
  client/src/components/profile-forms/EducationForm.tsx
  client/src/components/profile-forms/Experience.tsx
  client/src/components/profile-forms/ExperienceForm.tsx
  client/src/components/profile-forms/ProfileDelete.tsx
  client/src/components/profile-forms/ProfileForm.tsx
  client/src/components/profile/Profile.tsx
  client/src/components/profile/ProfileRepo.tsx
  client/src/components/profile/ProfileTop.tsx
  client/src/components/profiles/ProfileItem.tsx
  client/src/components/profiles/Profiles.tsx
  client/src/components/routing/AdminRoute.tsx
  client/src/reducers/index.ts
  client/src/reducers/post.ts
  client/src/reducers/profile.ts
  middleware/admin.js
  routes/api/profile.js
  routes/api/users.js
Labels: api, front-end, actions, reducers, style

Final steps towards production
  client/package-lock.json
  client/src/App.tsx
  client/src/actions/post.ts
  client/src/actions/types.ts
  client/src/components/posts/AddComment.tsx
  client/src/components/posts/CommentItem.tsx
  client/src/components/posts/Post.tsx
  client/src/components/posts/PostForm.tsx
  client/src/components/posts/PostItem.tsx
  client/src/components/posts/Posts.tsx
  client/src/components/profiles/ProfileItem.tsx
  client/src/reducers/alert.ts
  client/src/reducers/index.ts
  client/src/reducers/post.ts
  package-lock.json
  package.json
  routes/api/posts.js
  routes/api/profile.js
  server.js
Labels: api, front-end, actions, reducers

Fixed dependencies
  client/package-lock.json
  package-lock.json
Labels: none

package.json update
  package.json
Labels: none

Preparing for production relase. Added .env for secrets
  .gitignore
  config/db.js
  middleware/admin.js
  middleware/auth.js
  routes/api/auth.js
  routes/api/profile.js
  routes/api/users.js
Labels: api

SEO Description change
  client/public/index.html
Labels: none

Not found page added
  client/src/components/layout/NotFound.tsx
Labels: none

Added not found page route
  client/src/App.tsx
  client/src/components/layout/NotFound.tsx
Labels: front-end

Fixed route for NotFound and Post->Profile redirects
  client/src/App.tsx
  client/src/components/posts/PostItem.tsx
  client/src/components/routing/Routes.tsx
Labels: front-end

Removed redux devtools from production (duh)
  client/src/store.ts
Labels: front-end

Update README.md
  README.md
Labels: none

Fixed gh repo infinite calls on inexistent user
  client/src/actions/profile.ts
  client/src/components/profile/Profile.tsx
  client/src/store.ts
  routes/api/profile.js
Labels: api, front-end, actions

Yet another bug fix related to github repositories
  client/src/actions/profile.ts
  client/src/components/profile-forms/ProfileForm.tsx
  routes/api/profile.js
Labels: api, actions

TypeScript update and fixup
  .eslintrc.json
  client/package-lock.json
  client/package.json
  client/src/App.css
  client/src/App.tsx
  client/src/actions/alert.ts
  client/src/actions/auth.ts
  client/src/actions/post.ts
  client/src/actions/profile.ts
  client/src/actions/types.ts
  client/src/components/posts/PostItem.tsx
  client/src/components/profile-forms/ProfileDelete.tsx
  client/src/components/profile-forms/ProfileForm.tsx
  client/src/components/profiles/ProfileItem.tsx
  client/src/reducers/post.ts
  client/src/reducers/profile.ts
  client/src/store.ts
  config/default.json
  package-lock.json
Labels: front-end, actions, reducers, style

Bug fixes and moderator controls
  client/src/actions/post.ts
  client/src/actions/profile.ts
  client/src/actions/types.ts
  client/src/components/posts/PostForm.tsx
  client/src/components/posts/PostItem.tsx
  client/src/reducers/profile.ts
  routes/api/posts.js
Labels: api, actions, reducers

.github/labeler.yml:

api:
  - routes/api/*
front-end:
  - client/src/*
component:
  - client/src/components/*
actions:
  - client/src/actions/*
reducers:
  - client/src/reducers/*
style:
  - client/**/*.css
